/* reset */
html, body, h1, h2, h3, h4, .slide-3 .left-text h5, .slide-3 .right-text h5, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0; }

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left;
  font-weight: normal; }

html, body, fieldset, img, iframe, abbr {
  border: 0; }

i, cite, em, var, address, dfn {
  font-style: normal; }

[hidefocus], summary {
  outline: 0; }

li {
  list-style: none; }

h1, h2, h3, h4, .slide-3 .left-text h5, .slide-3 .right-text h5, h5, h6, small {
  font-size: 100%; }

sup, sub {
  font-size: 83%; }

pre, code, kbd, samp {
  font-family: inherit; }

q:before {
  content: none; }
q:after {
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

label, summary {
  cursor: default; }

a, a:hover, button {
  cursor: pointer; }

h1, h2, h3, h4, .slide-3 .left-text h5, .slide-3 .right-text h5, h5, h6, em, strong, b {
  font-weight: bold; }

del, ins, u, s, a, a:hover, a:hover {
  text-decoration: none; }

body, textarea, input, button, select, keygen, legend {
  font: 12px/1.14 arial, \5b8b\4f53;
  color: #333;
  outline: 0; }

body {
  background: #fff; }

a, a:hover {
  color: #333; }

.clear-fix {
  zoom: 1; }
  .clear-fix:after {
    content: "";
    display: block;
    clear: both; }

/*fullpage*/
html, body {
  width: 100%;
  height: 100%; }

.container {
  width: 100%;
  height: 100%; }

/*.right-dots*/
.right-dots {
  padding: 25px;
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 999; }
  .right-dots li {
    width: 10px;
    height: 10px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-bottom: 8px;
    cursor: pointer; }
    .right-dots li:hover {
      background: #fff;
      transition: 0.2s; }
  .right-dots li.active {
    background: #ffffff; }

/*section*/
.sec {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  overflow: hidden; }
  .sec .content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding-top: 3%;
    color: white; }

/*silde-1*/
.slide-1 {
  background: url("../img/home_bg.jpg");
  z-index: 1;
  /*s1-left*/
  /*s1-right*/ }
  .slide-1 .center-bg {
    float: left;
    position: absolute;
    top: 10%;
    left: 50%;
    width: 1600px;
    height: 660px;
    margin-left: -800px;
    z-index: 1; }
  .slide-1 .s1-left {
    margin-top: 20%;
    width: 680px;
    height: 500px;
    position: relative;
    float: left;
    z-index: 2; }
    .slide-1 .s1-left .left-pic {
      position: absolute; }
    .slide-1 .s1-left .could-1 {
      background: url("../img/cloud.png") no-repeat;
      width: 140px;
      height: 90px;
      margin-top: 80px; }
    .slide-1 .s1-left .could-2 {
      background: url("../img/cloud2.png") no-repeat;
      width: 110px;
      height: 67px;
      margin-left: 350px; }
    .slide-1 .s1-left .could-3 {
      background: url("../img/cloud3.png") no-repeat;
      width: 110px;
      height: 74px;
      margin-left: 550px;
      margin-top: 150px; }
    .slide-1 .s1-left .human {
      width: 476px;
      height: 373px;
      margin-left: 100px;
      background: url("../img/sp2.png") no-repeat;
      /*animation: move 1.5s steps(15) infinite;*/
      animation: move 1.2s steps(15) infinite; }
  .slide-1 .s1-right {
    width: 520px;
    text-align: center;
    color: #ffffff;
    float: right;
    margin-top: 20%;
    position: relative;
    z-index: 2; }
    .slide-1 .s1-right h4, .slide-1 .s1-right .slide-3 .left-text h5, .slide-3 .left-text .slide-1 .s1-right h5, .slide-1 .s1-right .slide-3 .right-text h5, .slide-3 .right-text .slide-1 .s1-right h5 {
      font-size: 24px; }
    .slide-1 .s1-right h2 {
      font-size: 90px;
      text-shadow: 0 2px 2px rgba(51, 51, 51, 0.29); }
    .slide-1 .s1-right p {
      line-height: 20px; }
    .slide-1 .s1-right a {
      color: #ffffff;
      display: inline-block;
      border: 2px solid #ffffff;
      margin-top: 20px;
      padding: 10px 20px;
      line-height: 10px; }
      .slide-1 .s1-right a:hover {
        background: #942f86;
        transition: 0.5s; }

.slide-2 {
  background: url("../img/med_bg.jpg"); }

/*s2-left*/
.left-text {
  /*width: 50%;*/
  margin-top: 4%;
  margin-left: 15%;
  float: left; }
  .left-text li .round {
    opacity: 0;
    width: 0px;
    height: 0px;
    line-height: 60px;
    text-align: center;
    background: #5e4d5c;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    float: left; }
  .left-text li .work-his {
    float: left;
    margin-left: 50px; }
    .left-text li .work-his .text {
      opacity: 0;
      font-size: 18px;
      color: #5e4d5c;
      width: 220px;
      height: 60px;
      line-height: 24px;
      text-align: center;
      word-break: normal; }
    .left-text li .work-his .tips {
      opacity: 0;
      width: 220px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      font-size: 12px;
      margin-top: 15px; }
  .left-text li span {
    float: left;
    display: block;
    width: 62.5%;
    height: 0;
    margin: 5px 0;
    border-right: 1px dashed #5e4d5c;
    opacity: 1; }

/*s2-right*/
.right-pic {
  position: fixed;
  top: 20%;
  right: 27%; }
  .right-pic .animate {
    width: 270px;
    height: 352px;
    background: url("../img/midlle1_sprite.png") no-repeat;
    animation: move2 1.6s steps(15) infinite; }

.slide-3 {
  background: url("../img/about_bg.jpg");
  /*S3-bgtree*/
  /*s3-bottom-pic*/
  /*s3-text*/
  /*s3-tips*/ }
  .slide-3 .content {
    position: relative; }
  .slide-3 .bg-tree {
    width: 1320px;
    height: 943px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1; }
    .slide-3 .bg-tree img {
      position: absolute; }
  .slide-3 .bottom-human {
    width: 100%;
    height: 100%;
    margin-top: 0;
    position: relative;
    z-index: 2; }
    .slide-3 .bottom-human .human {
      width: 430px;
      height: 456px;
      background: url("../img/meet_sprite.png") no-repeat;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 34px;
      cursor: pointer; }
    .slide-3 .bottom-human .bottom {
      width: 1920px;
      height: 84px;
      background: url("../img/meet_us_cont_bg.png") no-repeat center center;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
  .slide-3 .left-text, .slide-3 .right-text {
    position: absolute;
    width: 410px;
    z-index: 3;
    text-align: left;
    transition: 1s; }
    .slide-3 .left-text h2, .slide-3 .right-text h2 {
      font-size: 24px; }
      .slide-3 .left-text h2 img, .slide-3 .right-text h2 img {
        opacity: .5; }
    .slide-3 .left-text h4, .slide-3 .left-text h5, .slide-3 .right-text h4, .slide-3 .right-text h5 {
      margin-top: 10px;
      margin-bottom: 15px;
      font-size: 16px; }
    .slide-3 .left-text p, .slide-3 .right-text p {
      margin-bottom: 20px;
      line-height: 18px;
      font-size: 14px; }
    .slide-3 .left-text ul li, .slide-3 .right-text ul li {
      font-size: 12px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      border: 3px solid #fff;
      float: left;
      margin-right: 10px; }
  .slide-3 .left-text {
    left: 0; }
  .slide-3 .right-text {
    right: 0; }
  .slide-3 .show {
    bottom: 310px;
    opacity: 1; }
  .slide-3 .hide {
    bottom: 250px;
    opacity: 0; }
  .slide-3 .left-tips, .slide-3 .right-tips {
    position: absolute;
    z-index: 2;
    transition: .5s; }
  .slide-3 .left-tips {
    left: 15%; }
  .slide-3 .right-tips {
    right: 20%; }
  .slide-3 .hide-tips {
    bottom: 100px;
    opacity: 0; }
  .slide-3 .show-tips {
    bottom: 150px;
    opacity: 1;
    transform: translateY(0);
    -webkit-animation: show-tips 1s ease-in infinite alternate;
    animation: show-tips 1s ease-in infinite alternate; }

/*s4*/
.slide-4 {
  height: auto;
  background: url("../img/work_bg.jpg"); }

/*s4-icon-nav*/
.s4-nav {
  height: 284px;
  padding: 40px;
  position: relative; }
  .s4-nav li {
    width: 18%;
    padding: 1%;
    margin-top: 10px;
    text-align: center;
    float: left;
    opacity: 0;
    cursor: pointer; }
    .s4-nav li h2 {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 10px;
      font-weight: normal; }
    .s4-nav li p {
      font-size: 14px;
      line-height: 20px; }
    .s4-nav li span {
      width: 34px;
      height: 3px;
      background: #fff;
      display: block;
      margin: 25px auto 0 auto; }

/*selected-work*/
.selected-work {
  width: 97%;
  margin: 10px auto 6% auto; }
  .selected-work h2 {
    font-size: 24px;
    text-align: center;
    color: #fff; }

/*work-list*/
.work-tabs {
  max-width: 1200px;
  min-height: 250px;
  position: relative;
  margin: 38px auto 0 auto;
  overflow: hidden; }

.work-list {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 230px;
  overflow: hidden; }
  .work-list li {
    width: 310px;
    height: 218px;
    margin: 0.3% 0.6% 0.3% 0;
    border: 3px solid #fff;
    border-radius: 2px;
    position: relative;
    float: left;
    overflow: hidden; }
    .work-list li img {
      vertical-align: middle;
      width: 100%;
      position: relative;
      z-index: 2;
      display: block; }
    .work-list li .list-info {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #491442;
      text-align: center;
      z-index: 1; }
      .work-list li .list-info h3 {
        font-size: 20px;
        margin-top: 20%; }
      .work-list li .list-info a {
        display: block;
        width: 170px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 2px solid #fff;
        margin: 10% auto 0 auto;
        border-radius: 2px;
        color: #fff;
        font-size: 14px; }
        .work-list li .list-info a:hover {
          background: #942f86; }

/*scroll-bar*/
#scroll-box {
  width: 100%;
  height: 14px;
  position: absolute;
  bottom: 0;
  left: 0; }

#scroll-bar {
  width: 100%;
  height: 14px;
  border-radius: 10px;
  background: #eee;
  position: relative; }

#scroll-block {
  display: block;
  width: 150px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  background: #C7C348;
  top: 2px;
  left: 2px; }

/*more-button*/
.more-button {
  width: 100%;
  margin: 0 auto;
  padding-top: 3%;
  text-align: center; }
  .more-button a {
    border: 2px solid #fff;
    padding: 8px 18px;
    margin: 20px auto 0 auto;
    color: #fff;
    font-size: 16px;
    display: inline-block; }
    .more-button a:hover {
      background: #942f86;
      transition: 0.5s; }

/*slide-6*/
.slide-6 {
  background: url("../img/contact_bg.jpg"); }

.bg-stars {
  background: url("../img/contact_cont_bg.jpg") no-repeat center center;
  width: 1600px;
  height: 886px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -800px; }

.moon-ship {
  background: url("../img/contact_sprite.png");
  width: 343px;
  height: 494px;
  animation: move-moon 1.2s steps(15) infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -274px;
  margin-left: -171.5px;
  z-index: 3; }

.moon-info {
  margin-top: 10%;
  float: left;
  position: relative;
  left: 5%;
  z-index: 3;
  width: 360px; }
  .moon-info h2 {
    font-size: 24px; }
  .moon-info p {
    margin-top: 20px;
    line-height: 20px;
    font-size: 14px; }
  .moon-info a {
    display: block;
    float: right;
    color: #fff;
    padding: 8px 18px;
    border: 2px solid #fff;
    margin-top: 16px; }
    .moon-info a:hover {
      background: #942f86; }

/*animation*/
@keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -7140px 0; } }
@keyframes move2 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -4050px 0; } }
@keyframes move-moon {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -5145px 0; } }
@keyframes show-tips {
  from {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); } }
